@import '~/node_modules/bootstrap/scss/bootstrap.scss';
@import '@/assets/scss/partials/common.scss';
#app {
    font-family: Avenir, Helvetica, Arial, "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}